
<h1>@ViewBag.Title</h1>
<h1>Add Cheese</h1>

<form method="post">
    <input name="name" type="text" />
    <input type="submit" value="Add Cheese" />
    <input name="description" type="text" />
    <input type="submit" value="Add Description" />
</form>
